{% extends "base.html" %}

{% block content %}
  <h1>
    Task type list
    <a href="{% url 'manager:task-type-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% include "includes/search.html" %}
  <br>
  {% if task_type_list %}
    {% for task_type in task_type_list %}
      <ul>
        <li>
          <a href="{% url 'manager:task-type-detail' pk=task_type.id %}">
            {{ task_type }}
          </a>
        </li>
      </ul>
    {% endfor %}
  {% else %}
    <p>There are no workers</p>
  {% endif %}
{% endblock %}