{% extends "layouts/base-fullscreen.html" %}

{% block content %}
  <div style="background-image: url('{{ ASSETS_ROOT }}/img/bg10.jpg'); " loading="lazy">
    <span class="bg-gradient-primary opacity-4 position-absolute w-100 h-100"></span>
    <div class="overflow-auto page-header align-items-start min-vh-100 ">
      <div class="mt-8 d-block mx-auto">
        <div class="d-flex justify-content-between align-items-center">
          <div class="alert alert-white p-1 m-1">
            {% include "includes/search.html" %}
          </div>
          <a href="{% url 'task:task-create' %}" class="btn btn-primary link-to-page">Create</a>
        </div>
        <div class="row mt-7">
            <div>
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 rounded-bottom">
                <div class="bg-gradient-primary shadow-primary py-2 pe-1 rounded-top">
                  <h2 class="text-white font-weight-bolder text-center mt-2 mb-0">
                    Worker list
                  </h2>
                </div>
                  <div>
                    <div class="mt-4">
                       {% if worker_list %}
                        <table class="table text-center">
                          <tr>
                            <th>Username</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Position</th>
                            <th>Email</th>
                          </tr>
                          {% for worker in worker_list %}
                            <tr class="text-center">
                              <td><a style="font-weight: bold;" href="{% url 'user:worker-detail' pk=worker.id %}">{{ worker.username }}{% if user == worker %} (Me){% endif %}</a></td>
                              <td>{{ worker.first_name }}</td>
                              <td>{{ worker.last_name }}</td>
                              <td>{{ worker.position }}</td>
                              <td>{{ worker.email }}</td>
                            </tr>
                          {% endfor %}
                        </table>
                      {% else %}
                        <p class="text-center">There are no workers</p>
                      {% endif %}
                    <div class="d-flex justify-content-center">
                        {% include "includes/pagination.html" %}
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
